
.idea/.name
.idea/encodings.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/modules.xml
.idea/vcs.xml
.idea/WhatsApp-Bot.iml
__pycache__/Ai_Function.cpython-312.pyc
__pycache__/Cek_khodam_function.cpython-312.pyc
__pycache__/Configs.cpython-312.pyc
__pycache__/emoji_changer.cpython-312.pyc
__pycache__/function_list.cpython-312.pyc
__pycache__/time_counter.cpython-312.pyc
.idea/misc.xml
__pycache__/Database.cpython-312.pyc
